<main id="main" class="main main-page">
  <section class="section-page section-sobre">
    <div class="container">
      <breadcrumbs secao="'Ajuda'" subsecao="''"></breadcrumbs>
      <div class="content-header">
        <h2 class="title">
          Perguntas Frenquentes
        </h2>
      </div>
      <div class="content-body">
        <div class="content-full">
          <ol>
            <li><h4>O que é a Superintendência de Orçamento Público (SOP)?</h4>
              <p>A SOP é dentro da estrutura organizacional da Secretaria de Estado do Planejamento e do Desenvolvimento Econômico, o órgão responsável pelo gerenciamento do processo orçamentário estadual.</p>
            </li>
            <li><h4>O que é Orçamento Público?</h4>
              <p>O Orçamento Público é o instrumento de gestão de maior relevância e provavelmente o mais antigo da administração pública utilizado pelos governantes para organizar o fluxo previsto de ingresso (receita) e de aplicação de recursos (despesa) em determinado período.</p>
            </li>
            <li><h4>Quais as funções do Orçamento Público?</h4>
              <p>As funções do Orçamento Público são:</p>
              <ul>
                <li>Função Alocativa - Assegura ajustamentos na alocação de recursos incluindo a oferta de bens públicos não suficientemente supridos pelo mercado.</li>
                <li>Função Distributiva – Diz respeito ao ajustamento da distribuição da renda de pessoas e empresas para assegurar uma situação considerada justa.</li>
                <li>Função Estabilizadora – A política de estabilização está focalizada no combate à inflação e do nível geral de preços.</li>
              </ul>
            </li>
            <li><h4>Quais são os princípios do Orçamento Público?</h4>
              <p>Os princípios orçamentários são regras norteadoras da prática do orçamento. Os principais são:</p>
              <ul>
                <li>Anualidade – O orçamento deve ter vigência limitada a um exercício financeiro;</li>
                <li>Legalidade – Estabelece que a elaboração do orçamento deve observar as limitações legais em relação aos gastos e às receitas;</li>
                <li>Uniformidade – Os dados apresentados devem ser homogêneos nos exercícios, no que se refere à classificação e outros aspectos, permitindo comparação ao longo do tempo;</li>
                <li>Clareza – O orçamento deve ser claro e de fácil compreensão a qualquer indivíduo;</li>
                <li>Universalidade – Todas as receitas e todas as despesas devem constar na lei orçamentária;</li>
                <li>Equilíbrio – Fica evidente que os valores autorizados para a realização das despesas no exercício deverão ser compatíveis com os valores previstos para a arrecadação das receitas;</li>
                <li>Publicidade – Diz respeito à garantia da transparência e pleno acesso as informações as informações necessárias ao exercício de fiscalização sobre a utilização dos recursos arrecadados dos contribuintes;</li>
                <li>Orçamento Bruto – Determina que todas as receitas e despesas devem constar na peça orçamentária com seus valores brutos e não líquidos;</li>
                <li>Exclusividade – Verifica-se que a lei orçamentária não poderá conter matéria estranha à fixação das despesas e à previsão das receitas;</li>
                <li>Unidade Orçamentária – O orçamento é uno e todas as receitas e despesas devem estar contidas em uma só lei orçamentária.</li>
              </ul>
            </li>
            <li><h4>Como é organizado o Orçamento Público?</h4>
              <p>O Orçamento Público é organizado em:</p>
              <ul>
                <li>Orçamento Fiscal – Referente aos Poderes Legislativo, Executivo e Judiciário, seus fundos, órgãos e entidades da Administração Pública Direta e Indireta, inclusive fundações instituídas e mantidas pelo poder público;</li>
                <li>Orçamento da Seguridade Social – Compreende os órgãos e entidades a quem compete executar ações na área de saúde, previdência e assistência social;</li>
                <li>Orçamento de Investimento – Compreende todas as empresas e sociedades de economia mista.</li>
              </li>
            </ul>
          </li>
          <li><h4>Quais os instrumentos legais que norteiam a elaboração do Orçamento Público?</h4>
            <p>Os principais instrumentos legais que norteiam a elaboração do orçamento público são:</p>
            <ul>
              <li>Lei Federal Nº 4.320 de 1964 – Estatui normas gerais para a elaboração, controle e o equilíbrio dos orçamentos;</li>
              <li>Constituição Federal de 1988 – Estabelece em seu art. 165 os instrumentos de planejamento: Plano Plurianual (PPA), Diretrizes Orçamentárias (LDO) e os Orçamentos Anuais (LOA);</li>
              <li>Constituição Estadual de 1989 - Estabelece em seu art. 176 as leis de iniciativa do Poder Executivo (PPA, LDO e LOA);</li>
              <li>Lei Complementar N°101/2000 (Lei de Responsabilidade Fiscal – LRF) – Estabelece normas de finanças públicas voltadas para a responsabilidade na gestão fiscal.</li>
            </li>
          </ul>
        </li>
        <li>
          <h4>Qual a diferença entre esses instrumentos de planejamento (PPA, LDO e LOA)?</h4>
          <p>Os instrumentos de planejamento apresentam as seguintes características:</p>
          <ul><li>Plano Plurianual (PPA) – Lei que prevê a arrecadação e os gastos em programas e ações para um período de quatro anos;</li>
            <li>Lei de Diretrizes Orçamentárias (LDO) – Estabelece as metas e prioridades para o exercício financeiro, orienta a elaboração do orçamento, dispõe sobre alterações na legislação tributária, sobre despesas com pessoal e encargos sociais e sobre o serviço da dívida;</li>
            <li>Lei Orçamentária Anual (LOA) – Estima receitas e fixa despesas para um exercício financeiro, de acordo com as prioridades contidas no PPA e LDO, detalhando quanto será gasto em cada ação e programa.</li>
          </ul>
        </li>
        <li>
          <h4>O que é Receita Pública?</h4>
          <p>A Receita Pública é todo recurso obtido pelo Estado para atender às despesas públicas.</p>
        </li>
        <li>
          <h4>Quais os estágios da Receita Pública?</h4>
          <p>Os estágios da receita pública são:</p>
          <ul><li>Lançamento – É a identificação do devedor ou da pessoa do contribuinte;</li>
            <li>Arrecadação – Está ligada aos pagamentos feitos diretamente pelos contribuintes às repartições fiscais e à rede bancária autorizada;</li>
            <li>Recolhimento – Compreende a entrega do produto da arrecadação pelas referidas repartições e estabelecimentos bancários para crédito na conta da receita estadual do tesouro.</li></ul>
          </li>
          <li>
            <h4>Qual a classificação econômica da Receita Pública?</h4>
            <p>As receitas públicas são classificadas quanto à categoria econômica em:</p>
            <ul>
              <li>Receitas Correntes: tributárias, de contribuição, patrimonial, agropecuária, industrial, de serviços, transferências correntes e outras receitas correntes;</li>
              <li>Receitas de Capital: operações de crédito, alienação de bens, amortização de empréstimos, transferências de capital e outras receitas de capital.</li>
            </ul>
          </li>
          <li>
            <h4>O que é Despesa Pública?</h4>
            <p>A Despesa Pública representa o conjunto dos dispêndios do Estado, ou de outra pessoa de direito público, para funcionamento dos serviços públicos.</p>
          </li>
          <li>
            <h4>Quais os estágios da Despesa Pública?</h4>
            <p>Os estágios da despesa pública são:</p>
            <ul>
              <li>Empenho – O empenho da despesa é o ato emanado de autoridade competente que cria para o Estado a obrigação de pagamento pendente ou não de implemento de condição (art. 58 da Lei Federal N°4.320/1964);</li>
              <li>Liquidação – Consiste na verificação do direito adquirido pelo credor tendo por base os títulos e os documentos comprobatórios do respectivo crédito (art. 63 da Lei Federal N°4.320/1964);</li>
              <li>Pagamento – A ordem de pagamento é o despacho exarado por autoridade competente, determinando que a despesa seja paga (art. 63 da Lei Federal N°4.320/1964).</li>
            </ul>
          </li>
          <li>
            <h4>Qual a classificação econômica da Despesa Pública?</h4>
            <p>As despesas públicas são classificadas quanto à categoria econômica em:</p>
            <ul>
              <li>Despesas Correntes: pessoal e encargos sociais, juros e encargos da dívida e outras despesas correntes;</li>
              <li>Despesas de Capital: investimentos (obras, equipamentos e material permanente), inversões financeiras (aquisição de imóveis, títulos de crédito, concessão de crédito) e amortização/refinanciamento da dívida.</li>
            </ul>
          </li>
          <li>
            <h4>O que é Execução Orçamentária?</h4>
            <p>A Execução Orçamentária é um processo que consiste em realizar despesas programadas na LOA, levando-se em consideração a disponibilidade financeira da administração pública (arrecadação do estado) e o cumprimento das exigências legais.</p>
          </li>
          <li>
            <h4>Quais os mecanismos retificadores do Orçamento Público?</h4>
            <p>De acordo com o disposto no art. 40 da Lei Federal N°4.320/1964, os mecanismos retificadores do Orçamento Público são os Créditos Adicionais.</p>
          </li>
          <li>
            <h4>O que são Créditos Adicionais?</h4>
            <p>Os créditos adicionais são autorizações de despesas não computadas ou insuficientemente dotadas na LOA.</p>
          </li>
          <li>
            <h4>Como são classificados os Créditos Adicionais?</h4>
            <p>Os créditos adicionais estão classificados em:</p>
            <ul>
              <li>Créditos Suplementares – Reforço do orçamento e serão autorizados por lei e abertos por decreto do Executivo;</li>
              <li>Créditos Especiais – Atender Programas e Ações não contempladas na LOA;</li>
              <li>Créditos Extraordinários – Atender às despesas imprevisíveis e urgentes.</li>
            </ul>
          </li>
          <li>
            <h4>Quais os tipos de financiamento dos Créditos Adicionais?</h4>
            <p>Os créditos adicionais poderão ser financiados por meio de:</p>
            <ul>
              <li>Anulação parcial ou total de dotação orçamentária;</li>
              <li>Excesso de arrecadação (Saldo positivo das diferenças acumuladas mês a mês entre a arrecadação prevista e a realizada comprovado por extrato bancário);</li>
              <li>Superávit financeiro (apurado em balanço patrimonial do exercício anterior e comprovado por extrato bancário com data de 31/12);
                <li>Operações de crédito (lei autorizativa: ingresso de recurso no decorrer do exercício financeiro);</li>
                <li>Reserva de Contingência (importante instrumento de equilíbrio das contas públicas deverá ser utilizado em eventos imprevisíveis);</li>
                <li>Recursos que em decorrência de veto ou emenda ao projeto de lei orçamentária ficar sem despesas correspondentes.</li>
              </li>
            </ul>
          </li>
          <li>
            <h4>O que é classificação funcional?</h4>
            <p>A classificação funcional separa as dotações orçamentárias por funções e subfunções, buscando evidenciar, em que área de ação governamental a despesa será realizada. A classificação funcional foi instituída pela Portaria nº 42, de 14 de abril de 1999, do Ministério do Orçamento e Gestão.</p>
          </li>
          <li>
            <h4>Quais os Sistemas de elaboração, execução e acompanhamento do processo orçamentário do Estado?</h4>
            <p>Os sistemas utilizados no âmbito do Estado são:</p>
            <ul>
              <li>SIPLAG – Sistema de Planejamento e Gestão (Gestor: SEPLAG);</li>
              <li>SIAFEM – Sistema Integrado de Administração Financeira para Estados e Municípios (Gestor: SEFAZ).</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
</main>
