<main id="main" class="main main-page">
  <section class="section-page section-sobre">
    <div class="container">
      <breadcrumbs secao="'Legislacão'" subsecao="''"></breadcrumbs>
      <div class="content-header">
        <h2 class="title">
          Legislação
        </h2>
      </div>
      <div class="content-body">
        <div class="content-full">
          <ul class="list-group">
            <li class="list-group-item">
              <a target="_blank" href="http://www.planalto.gov.br/ccivil_03/constituicao/constituicaocompilado.htm"><i class="fa fa-file-text-o" aria-hidden="true"></i> Constituição Federal</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.gabinetecivil.al.gov.br/legislacaogabinete"><i class="fa fa-file-text-o" aria-hidden="true"></i> Constituição do Estado de Alagoas</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.planalto.gov.br/Ccivil_03/leis/LCP/Lcp101.htm"><i class="fa fa-file-text-o" aria-hidden="true"></i> Lei Complementar nº 101, de 4 de maio de 2000 (Lei de Responsabilidade Fiscal)</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.planalto.gov.br/ccivil_03/leis/L4320.htm"><i class="fa fa-file-text-o" aria-hidden="true"></i> Lei No 4.320, de 17 de março de 1964, que estatui normas gerais de direito financeiro para elaboração e controle dos orçamentos e balanços da União, dos Estados, dos Municípios e do Distrito Federal.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.gabinetecivil.al.gov.br/legislacao/leis/leis-delegadas/2011/lei-delegada-44"><i class="fa fa-file-text-o" aria-hidden="true"></i> Lei Delegada No 44, de 8 de abril de 2011, que define as áreas, os meios e as formas de atuação do Poder Executivo do Estado de alagoas, e dá outras providências.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.jaPedifederal.gov.br/legislacao"><i class="fa fa-file-text-o" aria-hidden="true"></i> Portaria No 42, de 14 de abril de 1999, do Ministro de Estado do Orçamento e Gestão, que atualiza a discriminação da despesa por funções de que tratam o inciso I do § 1º do artigo 2º e o § 2º do artigo 8º, ambos da Lei No 4.320, de 17 de março de 1964, estabelece os conceitos de função, subfunção, programa, projeto, atividade, operações especiais e dá outras providências.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.jaPedifederal.gov.br/legislacao"><i class="fa fa-file-text-o" aria-hidden="true"></i> Portaria Interministerial No 163, de 4 de maio de 2001, do Secretário do Tesouro Nacional e do Secretário de Orçamento Federal, que dispõe sobre normas gerais de consolidação das Contas Públicas no âmbito da União, Estados, Distrito Federal e Municípios e dá outras providências.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www3.tesouro.gov.br/legislacao/download/contabilidade/PortariaConjunta3.pdf" aria-hidden="true"></i> Portaria Conjunta No 3, de 14 de outubro de 2008, do Secretário do Tesouro Nacional e da Secretária de Orçamento Federal, que aprova os Manuais de Receita Nacional e de Despesa Nacional e dá outras providências. </a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.gabinetecivil.al.gov.br/legislacao/decretos/2010/06/decreto-6.581" aria-hidden="true"></i> Decreto Nº 6.581, de 18 de junho de 2010, que estabelece as competências dos Órgãos Centrais e Setoriais dos Sistemas de Planejamento e Orçamento, Administração Financeira e Contabilidade e Controle Interno e dá outras providências.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://www.gabinetecivil.al.gov.br/legislacao/decretos-autonomos/2010/decreto-autonomo-6.582" aria-hidden="true"></i> Decreto Autônomo Nº 6.582, de 18 de junho de 2010, que altera a Lei Delegada Nº 43, de 28 de junho de 2007, que define as áreas, os meios e as formas de atuação do Poder Executivo do Estado de Alagoas e dá outras providências (Sistema de Planejamento e Orçamento, coordenado pela Secretaria de Estado do Planejamento, Gestão e Patrimônio).</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://doeal.com.br/portal/visualizacoes/pdf/#/p:7/e:23451" aria-hidden="true"></i> Decreto Autônomo Nº 37.609, de 1º de janeiro de 2015, dispõe sobre organização, atribuições e funcionamento da Administração Pública do Poder Executivo Estadual.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://doeal.com.br/portal/visualizacoes/pdf/#/p:4/e:23586" aria-hidden="true"></i> Decreto Nº 37.978, de 16 de janeiro de 2015, altera o Decreto Estadual Nº 37.609, de 1º de janeiro de 2015, que dispõe sobre organização, atribuições e funcionamento da Administração Pública do Poder Executivo Estadual, e o Decreto Estadual nº 37.610, de 1º de janeiro de 2015, que remaneja os cargos de provimento em comissão e as funções gratificadas que menciona, e dá outras providências.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://doeal.com.br/portal/visualizacoes/pdf/#/p:1/e:24078" aria-hidden="true"></i> Lei Delegada Nº 45, de 31 De Março de 2015, cria a Secretaria de Estado de Transporte e Desenvolvimento Urbano - SETRAND, e dá outras providências.</a>
            </li>
            <li class="list-group-item">
              <a target="_blank" href="http://doeal.com.br/portal/visualizacoes/pdf/#/p:4/e:24078" aria-hidden="true"></i> Lei Delegada Nº 46, de 31 de Março de 2015, cria a Secretaria de Estado do Esporte, Lazer e Juventude - SELAJ e dá outras providências.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
