<main id="main" class="main main-page">
  <section class="section-page section-sobre">
    <div class="container">
      <breadcrumbs secao="'Sobre'" subsecao="''"></breadcrumbs>
      <div class="content-header">
        <h2 class="title">
          Sobre
        </h2>
      </div>
      <div class="content-body">
        <div class="content-full">
          <p>
            O portal Orçamento.AL é uma iniciativa do Governo do Estado de Alagoas, através da Secretaria de Estado do Planejamento, Gestão e Patrimônio, que tem por intuito oferecer informações sobre o orçamento público do Estado a toda a sociedade Alagoana. Os dados estão à disposição de forma clara e intuitiva, permitido por meio de uma navegabilidade prática e acessível a todos os interessados.
          </p>
          <p>
            Essa iniciativa reforça o compromisso do Estado em proporcionar abertura à população de suas ações, atendendo aos requisitos de transparência e publicidade no uso dos recursos públicos. Visa-se também, por meio dessa ação, proporcionar empoderamento aos cidadãos Alagoanos através da divulgação dessas informações.
          </p>
          <p>
            Assim, por meio de um layout interativo para consulta e análise de dados sobre o Orçamento de Alagoas, os usuários encontrão informações e dados a respeito do comportamento da execução orçamentária, poderão consultar as leis orçamentárias, a saber, LDO – Lei de Diretrizes Orçamentárias e LOA – Lei Orçamentária Anual sancionadas, as emendas parlamentares, portarias, dentre outros dados.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
