<main id="main" class="main main-page">
  <section class="section-page section-sobre">
    <div class="container">
      <breadcrumbs secao="'Sophia'" subsecao="''"></breadcrumbs>
      <div class="content-header">
        <h2 class="title">
          Sophia
        </h2>
      </div>
      <div class="content-body">
        <div class="content-full">
          <h4>Apresentação</h4>
          <p>Quando se fala em Orçamento Público, muitas pessoas não entendem a sua importância ou o que isso significa. Outras consideram um processo simples, como se fosse um orçamento familiar.</p>
          <p>Comparar o Orçamento Público com o orçamento familiar não está errado, se pensamos que se trata de anotar o que se ganha e o quanto se gasta com alimentação, saúde, educação, transporte, etc.</p>
          <p>No Estado de Alagoas não é diferente. Só que, por ser bem maior que uma família, o trabalho também é maior. Por isso, são utilizadas normas, procedimentos e nomenclaturas, que devem ser observados pelos servidores públicos da estrutura administrativa estadual, em especial da Secretaria de Estado do Planejamento e do Desenvolvimento Econômico (Seplande), por meio da Superintendência do Orçamento
            Público (SOP), para mostrar com clareza o quanto o Estado arrecada e em que esses recursos são aplicados.</p>
            <p>Sendo assim, essa cartilha foi preparada com o objetivo de ajudar vocês, cidadãos, a entenderem o que é o Orçamento Público, como ele é elaborado, como é executado, e o porquê, para que e para quem ele serve.</p>
            <p>Para ajudá-los, a SOPHIA, nossa personagem principal, aprenderá também sobre o Orçamento Público junto com seus familiares e amigos. A SEPLANDE deseja que os momentos de leitura com essa turma sejam muito proveitosos para todos vocês.</p>
            <p>Divirtam-se aprendendo!</p>

            <a href="#mybook" class="item-modal">
              <img width="200px" class="img-responsive" src="/static/assets/images/sophia/sophia-01.png" alt="Revista Sophia"></a>

              <div id="mybook" booklet style="display:none">
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-01.png" alt="Página 1">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-02.png" alt="Página 2">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-03.png" alt="Página 3">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-04.png" alt="Página 4">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-05.png" alt="Página 5">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-06.png" alt="Página 6">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-07.png" alt="Página 7">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-08.png" alt="Página 8">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-09.png" alt="Página 9">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-10.png" alt="Página 10">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-11.png" alt="Página 11">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-12.png" alt="Página 12">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-13.png" alt="Página 13">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-14.png" alt="Página 14">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-15.png" alt="Página 15">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-16.png" alt="Página 16">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-17.png" alt="Página 17">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-18.png" alt="Página 18">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-19.png" alt="Página 19">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-20.png" alt="Página 20">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-21.png" alt="Página 21">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-22.png" alt="Página 22">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-23.png" alt="Página 23">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-24.png" alt="Página 24">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-25.png" alt="Página 25">
                </div>
                <div>
                  <img class="img-responsive" src="/static/assets/images/sophia/sophia-26.png" alt="Página 26">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
