<ul class="nav navbar-nav navbar-accessibility navbar-right">
  <li class="sr-only">
    <a id="gotocontent" href="#main" title="Ir para o conteúdo"><i class="icon icon-chair"></i></a></li>

    <li>
      <div class="btn-group btn-group-controller">
        <a href="#" class="btn btn-default btn-xs btn-decrease">A-</a>
        <a href="#" class="btn btn-default btn-xs btn-reset">A</a>
        <a href="#" class="btn btn-default btn-xs btn-increase">A+</a>
        <a href="#" class="btn btn-default btn-xs btn-contrast" title="Contraste">C</a>
      </div>

    </li>
    <li><a class="btn-print" href="#"><i class="fa fa-print"></i> Imprimir</a></li>
  </ul>
