// Footer

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .navbar-right {
  padding-top: 20px;
}
