<main id="main" class="main main-page">
  <section class="section-page section-publicacoes">
    <div class="container">
      <breadcrumbs secao="'Informativos'" subsecao=""></breadcrumbs>
      <div class="content-header">
        <h2 class="title">
          Informativos
        </h2>
      </div>
      <div class="content-body">
        <div class="content-full">
          <ul class="list-informativo list-unstyled">
            <li class="media">
              <div class="media-left">
                <a href="/informativo">
                  <img class="media-object" src="http://placehold.it/120x120" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a href="/informativo">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/informativo" class="btn btn-default">Saiba mais ...</a>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="/informativo">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/informativo" class="btn btn-default">Saiba mais ...</a>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <a href="/informativo">
                  <img class="media-object" src="http://placehold.it/120x120" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a href="/informativo">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/informativo" class="btn btn-default">Saiba mais ...</a>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <a href="/informativo">
                  <img class="media-object" src="http://placehold.it/120x120" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a href="/informativo">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/informativo" class="btn btn-default">Saiba mais ...</a>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <a href="/informativo">
                  <img class="media-object" src="http://placehold.it/120x120" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a href="/informativo">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/informativo" class="btn btn-default">Saiba mais ...</a>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <a href="/informativo">
                  <img class="media-object" src="http://placehold.it/120x120" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a href="/informativo">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/informativo" class="btn btn-default">Saiba mais ...</a>
              </div>
            </li>
          </ul>
          <nav class="text-center">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Anterior">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="/informativos">1</a></li>
              <li><a href="/informativos">2</a></li>
              <li><a href="/informativos">3</a></li>
              <li><a href="/informativos">4</a></li>
              <li><a href="/informativos">5</a></li>
              <li>
                <a href="#" aria-label="Próxima">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>
