{% load staticfiles %}
<footer id="footer" class="footer" role="contentinfo">
  <div class="container">
    <div class="navbar-left">
 <!--    <a target="_blank" href="http://www.governo.al.gov.br/" id="logo-gov">
        <img src="{% static 'assets/images/logo_estado.png'%}" alt="Estado de Alagoas">
      </a> -->
      <a target="_blank" href="http://www.seplag.al.gov.br/" id="logo-sec2">
        <img src="{% static 'assets/images/logo_gov.png'%}" alt="Secretaria de Estado do Planejamento, Gestão e Patrimônio de Alagoas">
      </a>
    </div>
    <div class="navbar-right">
      <img src="{% static 'assets/images/logo_sti.png' %}" alt="Superintendência de Tecnologia da Informação" title="STI SEPLAG">
    </div>
  </div>
</footer>
