
<header id="header" role="banner">
  <nav class="navbar-gov">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="/static/assets/images/al_flag.svg" alt="Bandeira de Alagoas"> Governo <span class="caret"></span>
          </a>
          {% include 'nav_gov.html' %}
        </li>
      </ul>
      {% include 'nav_accessibility.html' %}
<!--       <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form> -->
    </div>
  </nav>

  <nav class="navbar-menu">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Portal de Execução Orçamentária
        do Estado de Alagoas" >
        <img src="/static/assets/images/logo.png" alt="Logo Orçamento.AL">
      </a>
    </div>
    <menu/>
  </div>
</nav>
</header>
<!-- header -->
