{% include 'news.html' %}
<main id="main" class="main main-home">
<!-- section-publicacoes -->
<section class="section-publicacoes">
  <div class="container">
    <header class="header-content">
      <h1 class="title">Publicações</h1>
    </header>
    <div class="body-content">
      <div class="box box-chart">
        <div class="box-item">
          <span class="icon icon-search-chart"></span>
          <h2 class="title">Lei Orçamentária Anual (LOA)</h2>
          <a href="#">Ver mais</a>
        </div>
      </div>
      <div class="box box-chart">
        <div class="box-item">
          <span class="icon icon-circle-chart"></span>
          <h2 class="title">Lei de Diretrizes Orçamentárias (LDO)</h2>
          <a href="#">Ver mais</a>
        </div>
      </div>
      <div class="box box-chart">
        <div class="box-item">
          <span class="icon icon-line-chart"></span>
          <h2 class="title">Créditos</h2>
          <a href="#">Ver mais</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /section-publicacoes -->
<!-- section-execucoes -->
<section class="section-execucoes">
  <div class="container">
    <header class="header-content">
      <h1 class="title">Execuções</h1>
    </header>
    <div class="body-content">
      <div class="box box-chart">
        <div class="panel-chart">
          <header class="panel-heading panel-control">
            <h3 class="panel-title"><span class="panel-icon icon icon-columns-chart"></span> Execuções do Governo</h3>
            <div class="panel-right">
              <div class="dropdown">
                <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>

      <div class="box box-chart">
        <div class="panel-chart">
          <header class="panel-heading panel-control">
            <h3 class="panel-title"><span class="panel-icon icon icon-columns-chart"></span> Execuções por Órgãos</h3>
            <div class="panel-right">
              <div class="dropdown">
                <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>

      <div class="box box-chart">
        <div class="panel-chart">
          <header class="panel-heading panel-control">
            <h3 class="panel-title"><span class="panel-icon icon icon-columns-chart"></span> Limite de Abertura de Crédito</h3>
            <div class="panel-right">
              <div class="dropdown">
                <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>

      <div class="box box-chart">
        <div class="panel-chart">
          <header class="panel-heading panel-control">
            <h3 class="panel-title"><span class="panel-icon icon icon-columns-chart"></span> Realização de Receita</h3>
            <div class="panel-right">
              <div class="dropdown">
                <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                  <li><a href="#">loremlorem</a></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /section-execucoes -->
</main>
