<ul class="dropdown-menu scrollable-menu" role="menu">
    <li><a href="http://www.agenciaalagoas.al.gov.br/" target="_blank">Agência Alagoas</a></li>
    <li><a href="http://www.agricultura.al.gov.br/" target="_blank">Agricultura</a></li>
    <li><a href="http://casal.al.gov.br/" target="_blank">Água e Saneamento</a></li>
    <li><a href="http://www.fapeal.br/" target="_blank">Amparo e Pesquisa</a></li>
    <li><a href="http://www.assistenciasocial.al.gov.br/" target="_blank">Assistência Social</a></li>
    <li><a href="http://www.expomaceio.com.br/" target="_blank">Centro de Convenções</a></li>
    <li><a href="http://www.cienciaetecnologia.al.gov.br/" target="_blank">Ciência e Tecnologia</a></li>
    <li><a href="http://www.compras.al.gov.br/" target="_blank">Compras Públicas</a></li>
    <li><a href="http://www.agenciaalagoas.al.gov.br/" target="_blank">Comunicação Social</a></li>
    <li><a href="http://www.controladoria.al.gov.br/" target="_blank">Controladoria</a></li>
    <li><a href="http://www.cbm.al.gov.br/portal/" target="_blank">Corpo de Bombeiros</a></li>
    <li><a href="http://www.cultura.al.gov.br/" target="_blank">Cultura</a></li>
    <li><a href="http://www.defensoria.al.gov.br/" target="_blank">Defensoria Pública</a></li>
    <li><a href="http://www.defesasocial.al.gov.br/" target="_blank">Defesa Social</a></li>
    <li><a href="http://www.defesaagropecuaria.al.gov.br/" target="_blank">Defesa Agropecuária</a></li>
    <li><a href="http://www.procon.al.gov.br/" target="_blank">Defesa do Consumidor</a></li>
    <li><a href="http://www.desenvolvimentoeconomico.al.gov.br/" target="_blank">Desenvolvimento Econômico</a></li>
    <li><a href="http://www.ideral.al.gov.br/" target="_blank">Desenvolvimento Rural</a></li>
    <li><a href="http://www.cepal-al.com.br/" target="_blank">Diário Oficial</a></li>
    <li><a href="http://www.educacao.al.gov.br/" target="_blank">Educação</a></li>
    <li><a href="http://www.trabalho.al.gov.br/" target="_blank">Emprego e Trabalho</a></li>
    <li><a href="http://www.der.al.gov.br/" target="_blank">Estradas e Rodagem</a></li>
    <li><a href="http://www.sefaz.al.gov.br/" target="_blank">Fazenda</a></li>
    <li><a href="http://www.gabinetecivil.al.gov.br/" target="_blank">Gabinete Civil</a></li>
    <li><a href="http://www.gabinetemilitar.al.gov.br/" target="_blank">Gabinete Militar</a></li>
    <li><a href="http://www.algas.com.br/" target="_blank">Gás Natural</a></li>
    <li><a href="http://www.gestaopublica.al.gov.br/" target="_blank">Gestão Pública</a></li>
    <li><a href="http://www.governo.al.gov.br/" target="_blank">Governo</a></li>
    <li><a href="" target="_blank">Habitação</a></li>
    <li><a href="http://www.ipasealsaude.al.gov.br/" target="_blank">IPASEAL</a></li>
    <li><a href="http://www.infraestrutura.al.gov.br/" target="_blank">Infraestrutura</a></li>
    <li><a href="http://www.juceal.al.gov.br/site/pt-br/" target="_blank">Junta Comercial</a></li>
    <li><a href="http://www.lifal.al.gov.br/" target="_blank">LIFAL</a></li>
    <li><a href="http://www.ima.al.gov.br/" target="_blank">Meio Ambiente</a></li>
    <li><a href="http://www.inmqa.al.gov.br/" target="_blank">Metrologia e Qualidade</a></li>
    <li><a href="http://www.mulherecidadania.al.gov.br/" target="_blank">Mulher e Cidadania</a></li>
    <li><a href="http://www.ouvidoria.al.gov.br/" target="_blank">Ouvidoria</a></li>
    <li><a href="http://www.planejamento.al.gov.br/" target="_blank">Planejamento</a></li>
    <li><a href="http://www.pc.al.gov.br/" target="_blank">Polícia Civil</a></li>
    <li><a href="http://www.pm.al.gov.br/intra/" target="_blank">Polícia Militar</a></li>
    <li><a href="http://www.pge.al.gov.br/" target="_blank">Procuradoria</a></li>
    <li><a href="http://www.izp.al.gov.br/" target="_blank">Rádio e TV</a></li>
    <li><a href="http://www.semarh.al.gov.br/" target="_blank">Recursos Hídricos</a></li>
    <li><a href="http://www.arsal.al.gov.br/" target="_blank">Regulação de Serviços</a></li>
    <li><a href="http://www.saude.al.gov.br/" target="_blank">Saúde</a></li>
    <li><a href="http://www.conselhodeseguranca.al.gov.br/" target="_blank">Conselho de Segurança</a></li>
    <li><a href="http://www.itec.al.gov.br/" target="_blank">Tecnologia da Informação</a></li>
    <li><a href="http://www.iteral.al.gov.br/" target="_blank">Terras e Reforma Agrária</a></li>
    <li><a href="http://www.trabalho.al.gov.br/" target="_blank">Trabalho</a></li>
    <li><a href="http://www.detran.al.gov.br/" target="_blank">Trânsito</a></li>
    <li><a href="http://www.turismo.al.gov.br/" target="_blank">Turismo</a></li>
    <li><a href="http://www.uncisal.edu.br/" target="_blank">Universidade de Ciências da Saúde</a></li>
    <li><a href="http://www.uneal.edu.br/" target="_blank">Universidade Estadual</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Outros Sites</li>
    <li><a href="http://www.delegaciainterativa.al.gov.br/">Delegacia Interativa</a></li>
    <li><a href="http://www.hejc.al.gov.br/">Hospital José Carneiro</a></li>
    <li><a href="http://www.hepr.com.br/">Hospital Portugal Ramalho</a></li>
    <li><a href="http://www.radiodifusora-al.com.br/">Rádio Difunsora Am</a></li>
    <li><a href="http://www.radioeducativa-al.com.br/">Rádio Educativa Fm</a></li>
    <li><a href="http://www.tveducativa-al.com.br/">TV Educativa</a></li>
    <li><a href="http://www.teatrodeodoro.al.gov.br/">Teatro Deodoro</a></li>
</ul>
